<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>

<body>
	<h1>Sample App - Help</h1>

	<p>This is the body to the HTML file!</p>	
	<p>This is to be the semi-static help page in the application.</p>

</body>

</html>